$color-text-white:#ffffff;
$color-text-black:#333333;
$color-text-grey:#999999;
$color-ligthgrey:#e5e5e5;
$color-new:#f38181;
$color-blue:#95e1d3;
$active-color:#fce38a;
$font-Kaushan:"Kaushan Script";
$font-Montserrat:"Montserrat";
$font-Roboto:"Roboto";