html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/*прячем заголовок*/
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*навигация*/
.page-nav {
  padding-top: 75px;
}
.navigation {
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: center;
}
.navigation li {
  display: inline-block;
}
.navigation li:not(:last-child) {
  margin-right: 104px;
}
.navigation li a {
  display: block;
  font-family: "Playfair Display", regular;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: #626262;
}
.navigation li a:hover,
.navigation li a:focus {
  color: #03a9f4;
}
/*основной контент*/
body {
  height: auto;
  margin: 0;
  font-family: "Playfair Display", regular, light;
}
.header-page {
  padding-bottom: 99px;
}
.content {
  height: auto;
  margin: 0;
}
.container {
  height: auto;
  width: 900px;
  margin: 0 auto;
}
.content-list {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.list-item {
  width: 420px;
  display: inline-block;
  margin-bottom: 127px;
}
.list-item:not(:nth-child(2n)) {
  margin-right: 60px;
}
.list-item:not(:nth-child(-n + 2)) {
  margin-bottom: 60px;
}
.list-item:nth-child(n + 5) {
  margin-bottom: 0;
}
.article-img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.description {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 26px;
  font-family: "Ubuntu", light, serif;
  font-size: 14px;
  line-height: 16px;
  color: #b4ad9e;
}
/*стили заголовков*/
.article-title {
  margin: 0;
  margin-bottom: 33px;
  font-family: "Playfair+Display", Regular, light serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  color: #626262;
}
/*основной текст*/
.article-content {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: #626262;
}
/*кнопка*/
.button {
  display: block;
  margin: auto;
  padding: 30px 82px;
  border: none;
  font-family: "Playfair+Display", Regular, light, serif;
  font-size: 20px;
  line-height: 24px;
  color: #626262;
  cursor: pointer;
}
.button:hover {
  color: #03a9f4;
}
