html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1110px;
  height: auto;
  margin: 0 auto;
}
.page-header {
  display: block;
  height: auto;
  padding-top: 42px;
  padding-bottom: 32px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.navigation {
  margin: 0;
}
.site-logo {
  width: 82px;
  display: block;
  color: #000000;
  font-family: "Roboto", sans-serif, light;
  font-size: 30px;
  font-weight: 100;
  line-height: 32px;
  letter-spacing: -0.6px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  float: left;
}
.site-logo::first-letter {
  color: #1abc9c;
  font-weight: 700;
}
.menu {
  width: 476px;
  margin: 0;
  padding: 0;
  float: right;
}
.menu-item {
  list-style: none;
  margin-right: 34px;
  float: left;
}
.menu-item:last-child {
  margin-right: 0;
}
.menu-item-link {
  display: block;
  color: #0f0101;
  font-family: "Open Sans", sans-serif, bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.28px;
  text-decoration: none;
  text-transform: uppercase;
}
.menu-item a:hover,
.menu-item a:focus {
  color: #1abc9c;
}
/*Стилизуем секцию Slider*/
.slider-section {
  position: relative;
}
.slider-section img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.slider-section::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background: #000000;
  opacity: 0.65;
}
.cont-slider {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.description {
  width: 758px;
  margin: 0 auto;
}
.title-slider {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  line-height: 82px;
  margin: 0;
  color: #ffffff;
  text-align: center;
  margin-bottom: 12px;
}
.slider-text {
  margin: 0;
  font-family: "Roboto", sans-serif, light;
  font-weight: 300;
  font-size: 24px;
  line-height: 54px;
  color: #ffffff;
}
/*кнопки слайдера*/
.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  width: 105px;
  height: 105px;
  background-color: rgb(78, 198, 171);
  border: none;
  cursor: pointer;
}
.button_slider_left {
  left: 0;
  background-image: url(../img/slider-content/arrow_left.png);
  background-repeat: no-repeat;
  background-position: center;
}
.button_slider_right {
  right: 0;
  background-image: url(../img/slider-content/arrow_right.png);
  background-repeat: no-repeat;
  background-position: center;
}
.button:hover {
  background-color: rgba(78, 198, 171, 0.6);
}
/* Cекция collection */
.collection {
  background: #e9f0fd;
  padding-top: 100px;
  padding-bottom: 100px;
}
/* заголовок и After */
.collection-title {
  text-align: center;
  margin: 0;
  color: #515151;
  font-family: "Roboto", sans-serif, bold;
  font-size: 48px;
  line-height: 32px;
  letter-spacing: -0.96px;
}
.collection-title::after {
  display: block;
  content: "";
  width: 164px;
  height: 8px;
  margin: 32px auto 80px;
  background: #1abc9c;
}
/* Карточки и Overlay */
.card-collection {
  list-style: none;
}
.collection-img {
  width: 255px;
  height: 283px;
}
.card-collection-item {
  position: relative;
  width: 255px;
  height: 283px;
  float: left;
  margin: 0;
}
.card-collection-item:not(:last-child) {
  margin-right: 30px;
}
.active {
  width: 100%;
  background-color: #323232;
}
.card-collection-item:hover .active {
  background-color: #1abc9c;
}

.card-name {
  margin: 0;
  padding-left: 8px;
  float: left;
}
.card-collection-item-a {
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  line-height: 40px;
}
.card-price {
  display: block;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.44);
  float: right;
  padding-left: 8px;
  padding-right: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  line-height: 40px;
  height: 40px;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-clip: padding-box;
  border: 10px solid rgba(255, 255, 255, 0.3);
  visibility: hidden;
}
.card-collection-item:hover .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  visibility: visible;
}
/* Кнопки */
.box-button {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-collection-item:hover .box-button {
  visibility: visible;
}
.all-button {
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  float: left;
  margin-right: 8px;
}
.buttons_bx {
  margin-bottom: 7px;
}
.overlay-buttons-heart {
  background-image: url(../img/icon_overlay/Без-имени-1.png);
  background-repeat: no-repeat;
  background-position: center;
}
.overlay-buttons-arrows {
  background-image: url(../img/icon_overlay/arrows.png);
  background-repeat: no-repeat;
  background-position: center;
}
.overlay-buttons-clock {
  background-image: url(../img/icon_overlay/clock.png);
  background-repeat: no-repeat;
  background-position: center;
}
.all-button:hover {
  border: none;
  background-color: #1abc9c;
}
.all-button:last-child {
  margin-right: 0;
}
.overlay-button {
  height: 50px;
  display: block;
  background-color: #323232;
  background-image: url(../img/icon_overlay/truck.png);
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 20px;
  width: 166px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Open Sans", regular;
  font-size: 14px;
  letter-spacing: -0.28px;
  padding-left: 46px;
}
.overlay-button:hover {
  background-color: #1abc9c;
  border: none;
}
/* Секция Footer */
.footer {
  width: 100%;
  background-color: #323232;
  padding-top: 38px;
  padding-bottom: 32px;
}
.footer-text {
  margin: 0 auto;
  font-family: "Opens Sans", sans-serif;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.32px;
  text-align: center;
}
.footer-text-link {
  text-decoration: none;
  color: #46bfa9;
}
