.footer {
  padding-bottom: 12px;
  &__line {
    width: 100%;
    height: 1px;
    background-color: $color-ligthgrey;
    margin-bottom: 10px;
  }
  &-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    &__text {
      font-family: $font-Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      color: $color-text-black;
      &--link {
        color: $color-new;
      }
    }
  }
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  &--input {
    border: 1px solid $color-ligthgrey;
    border-right: none;
    font-family: $font-Roboto, sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    font-style: italic;
    color: $color-text-black;
    padding: 13px;
    outline: none;
  }
  &--button {
    border: none;
    text-transform: uppercase;
    font-family: $font-Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: $color-text-white;
    background-color: $color-blue;
    padding: 15px 33px;
    cursor: pointer;
  }
}

.form-input::-webkit-input-placeholder {
  color: #cccccc;
}

.form-input::-moz-placeholder {
  color: #cccccc;
}

.form-input:-ms-input-placeholder {
  color: #cccccc;
}

.form-input::-ms-input-placeholder {
  color: #cccccc;
}

.form-input::placeholder {
  color: #cccccc;
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi),
(min-resolutio: 2dppx) {
  .header {
    background-image: -webkit-gradient(linear,
        left bottom,
        left top,
        from(rgba(252, 227, 138, 0.8)),
        to(rgba(243, 129, 129, 0.8))),
      url(../images/layer@2x.png);
    background-image: -o-linear-gradient(bottom,
        rgba(252, 227, 138, 0.8),
        rgba(243, 129, 129, 0.8)),
      url(../images/layer@2x.png);
    background-image: linear-gradient(to top,
        rgba(252, 227, 138, 0.8),
        rgba(243, 129, 129, 0.8)),
      url(../images/layer@2x.png);
  }
}
