@media (min-width: 768px){
  .container{
    width: 660px;
  }
  .banner{
    background-image: linear-gradient(rgba(26, 25, 21, 0.1), rgba(26, 25, 21, 0.1)), url(../img/tablet.png);
  }
  .header{
    padding-top: 38px;
  }
   /* .col-md-12{
    display: flex;
    align-items: center;
    justify-content: space-between;
   } */
   .link{
    font-weight: 600;
   }
   .logo-link-up{
    font-weight: 600;
   }
   .main-title{
     text-align: center;
     font-size: 52px;
     margin-bottom: 40px;
   }
   .wraper{
     display: flex;
     justify-content: center;
   }
   .desc-title{
     margin-bottom: 34px;
   }
/* section-holiday!!!!!!! */
   .title{
     margin-bottom: 32px;
   }
   .col-md-8{
     padding: 0;
   }
   .partners-item {
     width: 200px;
     padding: 0;
   }
   .bradley{
     order: -2;
   }
   .walker{
     order: -1;
   }
}
@media (min-width: 992px){
.container{
  width: 940px;
   }
   .banner{
     background-image: linear-gradient(rgba(26, 25, 21, 0.1), rgba(26, 25, 21, 0.1)), url(../img/Desktop.png);
   }


}
